PORT=8080
ENV=development

DATABASE_URL=postgres://postgres:postgres@localhost:5432/sgrentmc?sslmode=disable
REDIS_URL=redis://localhost:6379

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URL=http://localhost:8080/auth/discord/callback

JWT_SECRET=change-me-in-production

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
BTCPAY_SERVER_URL=
BTCPAY_API_KEY=

# Format: "nodeID=dockerHost,nodeID2=dockerHost2"
# Exemple multi-node: "node1=unix:///var/run/docker.sock,node2=tcp://192.168.1.11:2376"
DOCKER_NODES=node1=unix:///var/run/docker.sock
